@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1706845523529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuque:before {
  content: "\e888";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-didian:before {
  content: "\e603";
}

.icon-dianziyoujian:before {
  content: "\e643";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-github:before {
  content: "\ea0b";
}

